* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: url(https://tse1.mm.bing.net/th/id/OIP.Ls7sPLWSsRoSZ9-C_XUCnwHaEK?w=1920&h=1080&rs=1&pid=ImgDetMain&o=7&rm=3);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100vh;
    background: url(https://cdn.wallpapersafari.com/85/22/1oYvRe.jpg);

    .pesquisa {
        width: 64%;
        display: flex;
        justify-content: space-between;

        input {
            width: 350px;
            height: 30px;
        }

        button {
            width: 100px;
            height: 30px;
        }

        p {
            
            background-color: #ffe600;
            padding: 8px;
            border-radius: 4px;
        }

    }
    
    .dados {
        width: 65%;
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        gap: 50px;
        
            .foto {
                width: 250px;
                height: 250px;
            }
    }

    #logo {
        width: 100%;
        height: 300px;
    }
}

